numpy
pandas
pyarrow
scipy
PyYAML
scikit-learn
xgboost
lightgbm
fastapi
uvicorn
streamlit
requests
authlib
httpx
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
python-dotenv
fastapi
uvicorn[standard]
